.landing-page {
  position: relative;
  height: 100vh;
  background-image: url('../../../public/images/hero-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.landing-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  opacity: 0.3;
}
