:root {
  --form-background: rgb(205, 231, 237);

  --tab-one: rgb(37, 165, 117);
  --tab-two: rgb(37, 149, 165);
  --tab-three: rgb(58, 113, 155);
  --tab-four: rgb(37, 75, 122);
  --tab-five: rgb(20, 43, 88);

  --primary-font: rgb(11, 43, 91);
  --secondary-font: rgb(58, 113, 155);

  --asterisk: rgb(243, 112, 33);
  --address: rgb(78, 97, 112);
  --icons: rgb(184, 199, 204);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
